@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

.mapboxgl-popup-close-button {
  height: 100%;
  color: red;
  background-color: rgb(253, 186, 186) !important;
}
